*{
    border: 0;
}


.container{
    height: 600px;
}
.card{
    background-color: white;
    border: none;
}
.hello:hover{
    text-decoration: underline;

}
.hi{
    font-size: 13px;
    color: rgb(103, 100, 100);
}




